@model KutuphaneOtomasyonu.Models.Kategori
@{
    ViewData["Title"] = "Edit";
}
 

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Ad" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" value="Oluştur" class="btn btn-info" />
            </div>
        </div>
    </div>
</form>
<a asp-action="Index">Listeye Dön</a>

